/* Five Box Layout */
*{
	padding: 0;
	border: 0;
	margin: 0;
}

#logo {
	height: 6vh;
	width: 20vw;
	margin-left: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
	float: left;
	background: black;
    
}

#menu {
	height: 6vh;
	width: 16vw;
    margin-right: 5vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    float: right;
}

.menuItems {
    height: 6vh;
    width: 5vw;
    margin-left: 2vw;
    float: right;
    background: black;
    list-style-type: none; 
    
}

#main {
	height: 50vh;
	width: 90vw;
	margin-left: 5vw;
	margin-right: 5vw;
    margin-bottom: 3vh;
	clear: both;
	background: black;	
}

#bottom {
    height: 20vh;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 6vh;
    float: left;
    list-style-type: none;
}

.bottomItems {
    height: 20vh;
    width: 21vw;
    margin-right: 2vw; /* check division */
    float: left;
    background: black;
    list-style-type: none;
}

.bottomItems:last-child {
    height: 20vh;
    width: 20vw;
    margin-right: 0vw;
    float: right;
    list-style-type: none;
}

#footer {
    height: 9vh;
    width: 100vw;
    clear: both;
    background: black;
}
    
